<!-- Clients Marquee -->
<section class="wrapper style1 align-center" {{ with .id }} id="{{ . }}"{{ end }}>
    <div class="inner">
        <h2>{{ .title }}</h2>
        <p>{{ .content | safeHTML }}</p>
    </div>

    <!-- Clients -->
    <div class="marquee">
        <div class="track">
          <div class="content">
            {{ range .clients }}
            <div class="marquee-item">
              <img src="{{ .image }}" title="{{ .title}}" />
            </div>
            {{ end }}
            {{ range .clients }}
            <div class="marquee-item">
              <img src="{{ .image }}" title="{{ .title}}" />
            </div>
            {{ end }}
            {{ range .clients }}
            <div class="marquee-item">
              <img src="{{ .image }}" title="{{ .title}}" />
            </div>
            {{ end }}
            {{ range .clients }}
            <div class="marquee-item">
              <img src="{{ .image }}" title="{{ .title}}" />
            </div>
            {{ end }}
          </div>
        </div>
      </div>
      
    
</section>