{{ define "main" }}
<div class="topbar">
	<div class="topbar-left" id="logo">
		<img src="images/logo.png">
	</div>
	<div class="topbar-right" id="contact">
		{{ with .Site.Params.social.email }}<a target="_blank" href="mailto:{{.}}" class="solid fav icon style2 fa-envelope"></a>{{end}}
        {{ with .Site.Params.social.telephone }}<a target="_blank" href="tel:{{.}}" class="solid fav icon style2 fa-phone"></a>{{end}}
	</div>
</div>
	{{ partial "banner" site.Data.banner }}
	<section class="wrapper style1 align-center">
		<div class="inner" style="background-color: rgb(221, 240, 223); width: 100vw; height: 2em; margin-top: -5.2em; vertical-align: middle;">
			<h2 style="font-style: italic; padding: -1em 0 2em 0;"></h2>
		</div>
	</section>
	{{ partial "spotlight" site.Data.about }}
	{{ partial "gallery" site.Data.gallery }}
	{{ partial "items" site.Data.items }}
	<section class="wrapper style1 align-center">
		<div class="inner">
			<h1>Who we are</h1>
	{{ partial "spotlight" site.Data.team }}
		</div>
	</section>

	{{ partial "partners" site.Data.partners }}
	
	{{ partial "clients" site.Data.clients }}
	{{ partial "footer" . }}

{{ end }}